.testimonial-section {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
  }
  
  .testimonial-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
  }
  
  .testimonials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .testimonial {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 10px;
    text-align: left;
  }
  
  .testimonial .quote {
    font-size: 1.1rem;
    font-style: italic;
    color: #666;
    margin-bottom: 20px;
  }
  
  .testimonial .author {
    display: flex;
    align-items: center;
  }
  
  .testimonial .author img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .testimonial .author .info {
    text-align: left;
  }
  
  .testimonial .author .info h4 {
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  
  .testimonial .author .info p {
    font-size: 0.9rem;
    color: #777;
    margin: 5px 0 0;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .testimonials {
      flex-direction: column;
      align-items: center;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 5rem;
    background-color: #333;
    color: white;
}

.navbar-links {
    display: flex;
}

.navbar-links li {
    list-style: none;
    margin-right: 2rem;
}



.navbar-links a {
    color: white;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #777;
}

.navbar-toggle {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-links {
        flex-direction: column;
        margin-top: 1rem;
    }

    .navbar-links li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .navbar-toggle:hover + .navbar-links,
    .navbar-links:hover {
        display: block;
    }
}
  