@media screen and (max-width: 600px) {
    .main{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0 2vw;
    }
    .left{
        width: 100%;
    }

    .left .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4vh
    }
    .left .heading h1{
        font-size: 1.8rem;
        width: 50%;
        color: #1E313F;
        font-family: 'Plus Jakarta Sans', sans-serif;}
    
        .right .heading{
            font-size:8vw ;
            margin-bottom: 1.5vmax;
            font-family: 'Plus Jakarta Sans', sans-serif;
        }
    
}