* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e85b7, #9fa8da);
    font-size: 16px;
    color: #333;
}

.donation-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #5a67d8;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 25px;
    color: #6b7280;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    font-size: 16px;
    color: #4a5568;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: #5a67d8;
    outline: none;
}

.payment-options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}



label[for="credit-card"],
label[for="paypal"] {
    font-size: 16px;
    margin-right: 1.5rem;
}

.donate-btn {
    background-color: #5a67d8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.donate-btn:hover {
    background-color: #434190;
}

.donation-container h1 {
    animation: fadeInDown 0.5s ease-in-out;
}

.donation-form {
    animation: fadeInUp 0.8s ease-in-out;
}
.payment{
    width: 2.5rem;
    margin-right: 1rem;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
